/* FIX ZMIANY POZYCJI ELEMENTÓW PRZY MODALU */
html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
}
/* KONIEC FIX-a */
h1,
h2,
h3,
h4,
.navbar-brand,
a {
    font-family: 'Lobster', cursive;
}

.navbar-brand {
    font-size: 2em;
}

nav li a {
    font-size: 1.5em;
}

.img-responsive {
    margin: 10px auto;
}

section {
    margin-top: 10px;
    margin-bottom: 10px;
}

section:first-of-type {
    margin-top: 50px;
}

[class*="example"] {
    min-height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.example-1 {
    background-image: url('https://images.pexels.com/photos/39691/family-pier-man-woman-39691.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.example-2 {
    background-image: url('https://images.pexels.com/photos/130111/pexels-photo-130111.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.example-3 {
    background-image: url('https://images.pexels.com/photos/297755/pexels-photo-297755.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.example-4 {
    background-image: url('https://images.pexels.com/photos/386025/pexels-photo-386025.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.example-5 {
    background-image: url('https://images.pexels.com/photos/1118448/pexels-photo-1118448.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

/* ALTERNATYWNA WERSJA CENTROWANIA TABÓW */
.center-tabs {
    text-align: center;
  }
  .center-tabs .nav-tabs > li {
    float: none;
  }
  .center-tabs .nav > li {
    display: inline-block;
  }

@media (max-width: 767px) {
    section:first-of-type {
        margin-top: 185px;
    }
}